*
    {
        background-color:#cce1f2;
        font-family: 'Courier New', Courier, monospace;
    }

header h1 {
    text-align: center;
    font-family:serif;
    color:#281e5d ;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-align: center;
    display:list-item;
    margin-left: 2em;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
}
table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}


a:link {
    color:#7600bc ;
}
a:hover {
    color:#1e2f97;
}
a:visited {
    color: #022d36;
}